<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>企业查询系统</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
</head>
<body>
<script type="text/javascript" th:src="@{/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/jquery/jquery-3.3.1.js}"></script>

<ul class="layui-nav layui-bg-green" lay-filter="">
    <li class="layui-nav-item"><a href="">查询列表</a></li>
    <li class="layui-nav-item"><a href="/add">新增</a></li>

</ul>

<script>
    //注意：导航 依赖 element 模块，否则无法进行功能性操作
    layui.use('element', function () {
        var element = layui.element;

        //…
    });

    function addCompany() {
        console.log(123);
        window.open("/add");
    }
</script>
<br>
<div class="layui-main site-inline">






</div>
<br>

<div class="demoTable">
    企业名称
    <div class="layui-inline">
        <input class="layui-input" name="area" id="demoReload" autocomplete="off">
    </div>
    企业归属地
    <div class="layui-inline">
        <input class="layui-input" name="area" id="demoReload2" autocomplete="off">
    </div>
    <button class="layui-btn" data-type="reload">搜索</button>
</div>
<br>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<table class="layui-hide" id="LAY_table_user" lay-filter="user"></table>


<!--<script src="//res.layui.com/layui/dist/layui.js" charset="utf-8"></script>-->
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script th:inline="none">
    layui.use('table', function () {
        var table = layui.table;

        //方法级渲染
        table.render({
            elem: '#LAY_table_user'
            , url: '/data'
            //,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            , cols: [[
                {field: 'name', title: '企业名称', fixed: 'left'}
                , {field: 'area', title: '企业归属地',}
                , {field: 'registerMoney', title: '注册资本', sort: true}
                , {field: 'size', title: '企业规模', sort: true}
                , {field: 'listedSituation', title: '上市情况'}
                , {field: 'financingSituation', title: '融资情况',}
                , {field: 'businessScope', title: '经营范围'}
                , {field: 'businessStatus', title: '经营状态'}
                , {field: 'bossName', title: '法人名称'}
                , {field: 'creditScore', title: '信用评分', sort: true}
                , {field: 'id', title: 'ID', hide:true}
                ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:150}
            ]]
            , id: 'testReload'
            , page: true
            //, height: 310

        });

        var $ = layui.$, active = {
            reload: function () {
                var demoReload = $('#demoReload');
                console.log(demoReload);
                //执行重载
                table.reload('testReload', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        key: {
                            id: demoReload.val()
                        },
                        id:1
                    }
                }, 'data');
            }
        };

        $('.demoTable .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
        //监听工具条
        table.on('tool(user)', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    obj.del();
                    layer.close(index);
                    del(data.id);
                });
            } else if(obj.event === 'edit'){
                //console.log(data.id);
                edit(data.id);
               // layer.alert('编辑行：<br>'+ JSON.stringify(data))
            }
        });
    });
function edit(id) {
    window.open('/add?id=' + id);
}
function del(id) {
    $.ajax({
        type: 'GET',
        url:'/del',
        data:{id: id},
        success:function (data) {
            console.log(data);

        }
    });

}
</script>


</body>
</html>
