<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>企业查询系统</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
</head>
<body>
<script type="text/javascript" th:src="@{/layui/layui.js}"></script>

<ul class="layui-nav layui-bg-green" lay-filter="">
    <li class="layui-nav-item"><a href="">查询列表</a></li>
</ul>

<script>
    //注意：导航 依赖 element 模块，否则无法进行功能性操作
    layui.use('element', function () {
        var element = layui.element;

        //…
    });
    function addCompany() {
        console.log(123);
        window.open("/add");
    }
</script>
<br>
<div class="layui-main site-inline">


<form class="layui-form" action="/data">
    <div class="layui-form-item">
        <div class="layui-row">
            <div class="layui-col-md6 grid-demo">
                <label class="layui-form-label">企业名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="name"  placeholder="请输入名称"
                           autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-col-md6">
                <label class="layui-form-label">企业归属地</label>
                <div class="layui-input-inline">
                    <input type="text" name="area"  placeholder="请输入企业归属地"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">查询</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            <button class="layui-btn" onclick="addCompany()">新增</button>
        </div>
    </div>
</form>


    <table id="datalist" lay-filter="test" ></table>



</div>
<script th:inline="none">
    //Demo
    layui.use('form', function () {
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function (data) {
            //layer.msg(JSON.stringify(data.field));
           // return false;
        });
    });
    layui.use('table', function(){
        var table = layui.table;

        //第一个实例
        table.render({
            elem: '#datalist'
            // ,height: 312 //不填的话高度自适应
            ,url: '/data' //数据接口
            ,page: true //开启分页
            ,cols: [[ //表头
                {field: 'name', title: '企业名称',   fixed: 'left'}
                ,{field: 'area', title: '企业归属地', }
                ,{field: 'registerMoney', title: '注册资本',  sort: true}
                ,{field: 'size', title: '企业规模', sort:true}
                ,{field: 'listedSituation', title: '上市情况'}
                ,{field: 'financingSituation', title: '融资情况',  }
                ,{field: 'businessScope', title: '经营范围'}
                ,{field: 'businessStatus', title: '经营状态'}
                ,{field: 'bossName', title: '法人名称'}
                ,{field: 'creditScore', title: '信用评分',  sort: true}
                ,{field: 'id', title: '信用评分',  sort: true}

            ]]
        });

    });


</script>
<br>



</body>
</html>
